/* Seletores de Tags por ordem alfabética */
  footer{
  text-align: center;
  position: absolute;
  padding-top: 30px;
  padding-bottom: 0px;
  width: 100%;
  margin-bottom: 0;
  background-color: #FC4445;
  color: white;
}

/* Seletores de Classe por ordem alfabética */
.disabled{
  color: white;
  pointer-events: none;
}
.icon{
  height: 40px;
  width: 40px;
}

/* Seletores de id por ordem alfabética */
#socialmedia{
  text-align: right;
}
