<footer>
  <div class="row">
    <div class="container">
      <!-- Ícones das redes sociais (como o site não é de um lugar real, os ícones direcionam para a página inicial das redes) -->
        <a href="https://www.facebook.com/" target="_blank"><img src="../assets/icons/facebook.svg" class="icon" alt="facebookicon"></a>
        <a href="https://www.instagram.com/" target="_blank"><img src="../assets/icons/instagram.svg" class="icon" alt="instagramicon"></a>
        <a href="https://www.twitter.com/" target="_blank"><img src="../assets/icons/twitter.svg" class="icon" alt="twittericon"></a>
        <br><br>
        © 2018 Trainee Carla Moreno
    </div>
  </div>
</footer>
