<div class="animated fadeIn">
  <div class="row white">
    <h4>Fale Conosco</h4>
    <div class = "container">
      <div class="col l5">
        Nome: <input type="text" name="fname" placeholder = "Nome">
          E-mail: <input type="text" name="email" placeholder = "E-mail">
      </div>
      <div class="col l5 offset-l2">
        Telefone: <input type="text" name="telefone" placeholder="Telefone">
        Assunto: <input type="text" name="assunto" placeholder="Assunto">
      </div>
      Mensagem: <textarea id = "mensagem" placeholder="Escreva aqui sua mensagem"></textarea>
      <button class="btn" onclick="alert('Agradecemos pelo contato!')">ENVIAR</button>
    </div>
  </div>
</div>
