/* Seletores de Tags por ordem alfabética */
input {
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #d3d3d3;
}

/* Seletores de Classe por ordem alfabética */
/* Botão de para mandar a mensagem */
.btn{
  background-color: #808080;
  width: 120px;
  font-size: 16px;
  margin: 40px -100px 40px 270px;
  transition: 0.3s;
}
/* Transition do botão que manda a mensagem quando sob o cursor */
.btn:hover {
  background-color: #FC4445;
  color: white;
}
.container{
  padding-top: 20px;
}
.row{
  margin-top: 140px;
  margin-bottom: 150px;
  margin-right: 190px;
  margin-left: 190px;
}

/* Seletores de id por ordem alfabética*/
#dados{
  font-weight: bold;
  color: grey;
}
#mensagem{
  height: 80px;
  box-sizing: border-box;
  border: none;
  resize: none;
  border-bottom: 2px solid #d3d3d3;
}

/* Animated FadeIn */
.animated {
  animation-duration: 0.8s;
  animation-fill-mode: both;
}
@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
.fadeIn {
  animation-name: fadeIn;
}
