<div class="animated fadeIn">
  <div class="row">
    <h4>Nossa História</h4>
    <div class="container">
      <div class="col l8 s6">
        <p>Um grupo de quatro jovens abriram a Gelato Company no Leblon em janeiro de 2015.</p>
        Nosso especialista em Gelato desenvolveu suas habilidades com seu pai. E sua família esteve nesse ramo por mais de 40 anos.
        Michelle Bartolo é a CEO, e seus amigo de ensino médio Lorenzo Alvino e Juliet Souza são os responsáveis, respectivamente, pela produção dos gelatos
        e pelas vendas/marketing. Um ótimo produto requer uma ótima equipe.
        <p>Nós produzimos nosso próprio gelato com igredientes especialmente selecionados.
        Nosso segredo é a busca meticulosa pelos igredientes usados em cada receita, importados em sua maioria, mas não exclusivamente, da Itália.
        Alguns dos igredientes que usamos na produção dos nossos Gelati são pistaches de Bronte, Sicília, avelãs de Langhe, Piedmont, e usamos
        chocolates das mais finas variedades de plantações na Venezuela. Servimos para você um produto mais saudável usando leite sem hormônios
        artificiais ou antibióticos.
        </p>
        <p>Nós também damos preferência para a obtenção de frutas comercializadas por produtores locais para nossos gelatos.
          Além disso, é livre de gorduras! Nosso gelato não contém qualquer tipo de corantes ou conservantes e isso é o que o faz
          verdadeiramente refrescante.
        </p>
        <p>Gelato Company mantém a história e tradição da nossa amada Itália.
        </p>
        <b>Venha nos visitar!</b>
        <a href="https://www.google.com.br/maps/place/Leblon,+Rio+de+Janeiro+-+RJ/data=!4m2!3m1!1s0x9bd5b3b414a15f:0xd19c10ba38a480d2?sa=X&ved=0ahUKEwjLgtrVjrTcAhXBlJAKHVgVCXQQ8gEIyAEwEw" target="_blank">
          <img src="../assets/icons/map.svg" class="icon" alt="maplocation"></a>
      </div>
      <div class = "col l2 offset-l4 s12" id="coluna">
        <img src="../../assets/img/sobre.jpg">

      </div>
    </div>
  </div>
</div>
