<div class="animated fadeIn">
  <!-- Menu de Gelatos organizado em ordem alfabética (por linha) -->
  <div class="row">
    <h4>Nossos Gelatos</h4>
    <div class="container">
      <div class="col l3 s12" id="coluna">
        <div class="card">
          <div class="card-image">
            <img class="imgcard" src="../../assets/img/flavours/blueberrylemonconfiture.jpg">
          </div>
          <div class="card-content" id="conteudo">
            <span class="card-title activator" id="flavour">Blueberry Lemon<img src="../../assets/icons/more.svg" class="icon activator right"></span>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Blueberry Lemon<img src="../../assets/icons/close.svg" class="icon card-title right"></span>
            <p>Gelato sabor mirtilo e limão.</p>
          </div>
        </div>
        <div class="card">
          <div class="card-image">
            <img class="imgcard" src="../../assets/img/flavours/maceratedberries&proseccosorbet.jpg">
          </div>
          <div class="card-content" id="conteudo">
            <span class="card-title activator" id="flavour">Macerated Berries & Prosecco<img src="../../assets/icons/more.svg" class="icon activator right"></span>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Macaret Berries & Prosecco<img src="../../assets/icons/close.svg" class="icon card-title right"></span>
            <p>Gelato sabor frutas vermelhas suaves e prosecco.</p>
          </div>
        </div>
        <div class="card">
          <div class="card-image">
            <img class="imgcard" src="../../assets/img/flavours/roastedcoconutandmakrudlime.jpg">
          </div>
          <div class="card-content" id="conteudo">
            <span class="card-title activator" id="flavour">Roasted Coconut Kaffir<img src="../../assets/icons/more.svg" class="icon activator right"></span>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Roasted Coconut Kaffir<img src="../../assets/icons/close.svg" class="icon card-title right"></span>
            <p>Gelato sabor coco torrado e limão Kaffir (conhecido no Brasil como combava).</p>
          </div>
        </div>
      </div>
      <div class = "col l3 offset-l4 s12" id="coluna">
        <div class="card">
          <div class="card-image">
            <img class="imgcard" src="../../assets/img/flavours/brownbutterpraline.jpg">
          </div>
          <div class="card-content" id="conteudo">
            <span class="card-title activator" id="flavour">Brown Butter Praline<img src="../../assets/icons/more.svg" class="icon activator right"></span>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Brown Butter Praline<img src="../../assets/icons/close.svg" class="icon card-title right"></span>
            <p>Gelato sabor brown butter (conhecida no Brasil como manteiga dourada) e praliné (doce feito com castanhas envolvidas em açúcar e cristalizadas, em outras palavras, castanhas caramelizadas).</p>
          </div>
        </div>
        <div class="card">
          <div class="card-image">
            <img class="imgcard" src="../../assets/img/flavours/peachfriedpie.jpg">
          </div>
          <div class="card-content" id="conteudo">
            <span class="card-title activator" id="flavour">Peach Fried Pie<img src="../../assets/icons/more.svg" class="icon activator right"></span>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Peach Fried Pie<img src="../../assets/icons/close.svg" class="icon card-title right"></span>
            <p>Gelato sabor torta de pêssego.</p>
          </div>
        </div>
        <div class="card">
          <div class="card-image">
            <img class="imgcard" src="../../assets/img/flavours/roastedcoffeecaramel.jpg">
          </div>
          <div class="card-content" id="conteudo">
            <span class="card-title activator" id="flavour">Roasted Coffee Caramel<img src="../../assets/icons/more.svg" class="icon activator right"></span>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Roasted Coffee Caramel<img src="../../assets/icons/close.svg" class="icon card-title right"></span>
            <p>Gelato sabor café torrado com caramelo.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
