<nav>
  <div>
    <a href="#" class="brand-logo center"><img src="../assets/logo/logo.png" class="logo" alt="logo"></a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li routerLinkActive="active-Link"><a routerLink="/home">Home</a></li>
      <li routerLinkActive="active"><a routerLink="/menu">Nosso Menu</a></li>
    </ul>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li routerLinkActive="active"><a routerLink="/login">Login</a></li>
      <li routerLinkActive="active"><a routerLink="/sobre">Sobre Nós</a></li>
      <li routerLinkActive="active"><a routerLink="/contato">Contato</a></li>
    </ul>
  </div>
</nav>
